# /etc/systemd/system/crop_sync.service
[Unit]
Description=crop sync
After=network-online.target

[Service]
User=1000
Group=1000
Type=oneshot
WorkingDirectory=/opt/crop/
ExecStartPre=pgrep -a crop | grep -v -e 'crop (sync)' | cut -d ' ' -f 1 | xargs kill
ExecStart=/opt/crop/crop sync -vv -p 2
ExecStopPost=/bin/rm -rf /opt/crop/crop.lock
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
