# /etc/systemd/system/crop_clean.service
[Unit]
Description=crop clean
After=network-online.target

[Service]
User=1000
Group=1000
Type=oneshot
WorkingDirectory=/opt/crop/
ExecStartPre=pgrep -a crop | grep -v -e 'crop (clean|sync)' | cut -d ' ' -f 1 | xargs kill
ExecStart=/opt/crop/crop clean -vv
ExecStopPost=/bin/rm -rf /opt/crop/crop.lock
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
