# /etc/systemd/system/mnt-merged.mount
[Unit]
Description=MergerFS Mount
After=network-online.target

[Mount]
What=/mnt/local/disk.*=RW:/mnt/network/share.*=RW:/mnt/remote/rclone.*=NC
Where=/mnt/merged
Type=fuse.mergerfs
Options=noauto,x-systemd.automount,category.create=epall,minfreespace=0,allow_other,dropcacheonclose=true,security_capability=false,xattr=nosys,statfs_ignore=ro,use_ino,async_read=false,cache.files=auto-full

[Install]
WantedBy=default.target
