# /etc/systemd/system/mnt-network-share.backup-backup.mount
[Unit]
Description=NFS Mount backup
After=network-online.target

[Mount]
What=192.168.1.22:/mnt/databackup1
Where=/mnt/network/share.backup/backup
Type=nfs
Options=noauto,x-systemd.automount,x-systemd.device-timeout=30,_netdev
TimeoutSec=30

[Install]
WantedBy=default.target
