# /etc/systemd/system/rclone_vfs.service
[Unit]
Description=Rclone VFS Mount
Requires=rclone_vfs-gcrypt.service
Requires=rclone_vfs-google.service
Requires=rclone_vfs-mc.service
Requires=rclone_vfs-tc.service

[Service]
Type=oneshot
[Install]
WantedBy=default.target
