# /etc/systemd/system/rclone_vfs.service
[Unit]
Description=Rclone VFS Mount

[Service]
# The dummy program will exit
Type=oneshot
# Execute a dummy program
ExecStart=/bin/true
# This service shall be considered active after start
RemainAfterExit=yes

[Install]
WantedBy=default.target
