# /etc/systemd/system/rclone_vfs.service
[Unit]
Description=Rclone VFS Mount
# When systemd stops or restarts the rclone_vfs.service, the action is propagated to this unit
PartOf=rclone_vfs.service
# Start this unit after the rclone_vfs.service start
After=rclone_vfs.service
After=network-online.target

[Service]
User=1000
Group=1000
Type=notify
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone mount \
  --allow-other \
  --buffer-size=64M \
  --dir-cache-time=168h \
  --drive-chunk-size=64M \
  --drive-skip-gdocs \
  --fast-list \
  --syslog \
  --timeout=10m \
  --umask=002 \
  --vfs-read-chunk-size-limit=2048M \
  --vfs-read-chunk-size=64M \
  -v \
  google: /mnt/remote/rclone.drive/medialibrary
ExecStop=/bin/fusermount -uz /mnt/remote/rclone.drive/medialibrary
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
